#[link(name = "slither",
       vers = "0.1")];

#[crate_type = "exe"];

extern mod std;

pub mod myclone;
pub mod union_find;

pub mod position;
pub mod board;
pub mod print;
pub mod solver;

pub mod slither;
